<section
  cdkOverlayOrigin
  #headerElem="cdkOverlayOrigin"
  (overlayOutsideClick)="onOpen(false)"
  class="app-header">

  <div [ngClass]="{'justify-content-between': hasMobileMenu, 'justify-content-center': !hasMobileMenu}" class="d-flex align-items-center justify-content-md-center">
    <app-logo class="d-none d-md-flex" size="lg"></app-logo>
    <app-logo class="d-flex d-md-none" size="md"></app-logo>
    <app-burger *ngIf="hasMobileMenu" (isOn)="onOpen($event)" class="d-flex d-md-none"></app-burger>
  </div>

  <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="headerElem" [cdkConnectedOverlayOpen]="isMenuOpen">
    <div @fadeSlideInOut [ngStyle]="{'maxHeight': menuHeightPx}" class="header-menu">
      <ng-content></ng-content>
    </div>
  </ng-template>

</section>
