<lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide" class="d-flex flex-wrap justify-content-center align-items-start">
  <a href="/assets/img/png/mock-avatar.png" class="img-thumbnail">
    <img alt="img1" src="/assets/img/png/mock-avatar.png" class="w-100" />
  </a>
  <a href="/assets/img/png/logo.png" class="img-thumbnail">
    <img alt="img2" src="/assets/img/png/logo.png" class="w-100" />
  </a>
  <a href="/assets/img/png/mock-avatar.png" class="img-thumbnail">
    <img alt="img1" src="/assets/img/png/mock-avatar.png" class="w-100" />
  </a>
  <a href="/assets/img/png/logo.png" class="img-thumbnail">
    <img alt="img2" src="/assets/img/png/logo.png" class="w-100" />
  </a>
  <a href="/assets/img/png/mock-avatar.png" class="img-thumbnail">
    <img alt="img1" src="/assets/img/png/mock-avatar.png" class="w-100" />
  </a>
  <a href="/assets/img/png/logo.png" class="img-thumbnail">
    <img alt="img2" src="/assets/img/png/logo.png" class="w-100" />
  </a>
  <a href="/assets/img/png/mock-avatar.png" class="img-thumbnail">
    <img alt="img1" src="/assets/img/png/mock-avatar.png" class="w-100" />
  </a>
  <a href="/assets/img/png/logo.png" class="img-thumbnail">
    <img alt="img2" src="/assets/img/png/logo.png" class="w-100" />
  </a>
</lightgallery>
