<section class="w-100 h-100 d-flex flex-column align-items-center">

  <ng-container *ngIf="(trainer$ | async) as trainer; else spinner">
    <ng-container *ngIf="isLoaded && trainer !== true; else noItems">

      <header class="w-100 mb-rem-2 d-flex flex-column flex-md-row justify-content-center">
        <app-user-avatar imageSrc="/assets/img/png/mock-avatar.png" class="d-flex justify-content-center mb-4 mb-md-0"></app-user-avatar>
        <div class="ml-rem-1 d-flex flex-column justify-content-center align-items-center">
          <h2 class="color-white">{{trainer.first_name}} {{trainer.last_name}}</h2>
          <!-- <h4 class="color-main">{{ trainer.location }}</h4> -->
        </div>
      </header>
    
      <app-ctrl-panel (ctrlClick)="this.current = $event" [buttons]="buttons" class="mb-rem-3"></app-ctrl-panel>
    
      <div [ngSwitch]="current" class="app-content w-100 d-flex flex-grow-1">

        <p *ngSwitchCase="buttons[0]" class="app-desc">{{ trainer.bio }}</p>

        <div *ngSwitchCase="buttons[1]" class="app-table">
          <ng-container *ngIf="(payments$ | async) as payments">
            <ng-container *ngIf="payments?.length; else noItems">
              <div *ngFor="let item of payments; let index = index;" app-table-row [ngClass]="{'app-row--even': index%2}" class="app-row app-row--even">
                <div app-table-data [data]="{ width: 50 }"><span class="px-rem-1">29.09.2022</span></div>
                <div app-table-data [data]="{ width: 50 }"><span class="px-rem-1">$100.00</span></div>
              </div>
            </ng-container>
          </ng-container>
        </div>

        <figure *ngSwitchCase="buttons[2]" class="w-100">
          <img src="/assets/img/png/mock-avatar.png" alt="Trainer image" class="w-100 border-radius-4">
        </figure>

      </div>
    
      <div class="w-100 d-flex justify-content-center">
        <app-button-primary (buttonPrimaryClick)="onCancelTrainer(trainer)" title="core.button.cancel-trainer" [loading]="spinnerService.isOn$ | async" [filled]="true" class="app-submit-button w-100"></app-button-primary>
      </div>
  
    </ng-container>
  </ng-container>

</section>

<ng-template #spinner>
  <app-spinner size="xl"></app-spinner>
</ng-template>

<ng-template #noItems>
  <h2 class="app-title">
    <p>{{ 'core.no-data' | translate }}</p>
  </h2>
</ng-template>
