<section class="w-100 d-flex flex-column align-items-center">

  <header class="w-100 mb-rem-2 d-flex">
    <app-user-avatar imageSrc="/assets/img/png/mock-avatar.png"></app-user-avatar>
    <div class="ml-rem-1 d-flex flex-column justify-content-center align-items-center">
      <h2 class="color-white">John Smith</h2>
      <h4 class="color-main">Location</h4>
    </div>
  </header>

  <app-ctrl-panel (ctrlClick)="this.current = $event" [buttons]="buttons" class="mb-rem-3"></app-ctrl-panel>

  <ng-container [ngSwitch]="current">

    <p *ngSwitchCase="buttons[0]" class="app-desc">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit eaque, fuga qui dolor quam, iusto itaque ut incidunt nesciunt at nostrum quo. Ullam dolores quae architecto dicta facere quibusdam modi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quis cumque eaque suscipit voluptates amet assumenda similique molestias beatae, corrupti non quibusdam sequi asperiores ducimus accusantium laborum! Velit, quo quos.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit eaque, fuga qui dolor quam, iusto itaque ut incidunt nesciunt at nostrum quo. Ullam dolores quae architecto dicta facere quibusdam modi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quis cumque eaque suscipit voluptates amet assumenda similique molestias beatae, corrupti non quibusdam sequi asperiores ducimus accusantium laborum! Velit, quo quos.
    </p>

  </ng-container>

  <div class="w-100 d-flex">
    <app-button-primary (buttonPrimaryClick)="onCancelTrainer()" title="core.button.cancel-trainer" class="app-submit-button w-100"></app-button-primary>
  </div>

</section>
