<div class="aside">

  <div class="d-flex flex-column">
    <ng-content></ng-content>
  </div>

  <ul *ngIf="buttons?.length" class="aside__buttons">
    <li *ngFor="let item of buttons">
      <app-button-primary (buttonPrimaryClick)="asideBtnClick.emit(item)" [routerLink]="item.link" [title]="item.uiName" [disabled]="false" size="sm" [ngClass]="{'mt-rem-2': item.link === null}" class="mb-2 w-100">
        <app-icon *ngIf="item.icon" name="{{item.icon}}"></app-icon>
      </app-button-primary>
    </li>
  </ul>

</div>
