<section class="w-100 d-flex flex-column align-items-center">

  <h2 class="app-title mb-rem-4">John Smith</h2>

  <p class="app-desc">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit eaque, fuga qui dolor quam, iusto itaque ut incidunt nesciunt at nostrum quo. Ullam dolores quae architecto dicta facere quibusdam modi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit quis cumque eaque suscipit voluptates amet assumenda similique molestias beatae, corrupti non quibusdam sequi asperiores ducimus accusantium laborum! Velit, quo quos.
  </p>

  <div class="w-100 d-flex">
    <app-button-primary (buttonPrimaryClick)="onCancelTrainer()" title="admin.button.approve" [filled]="true" class="app-submit-button w-100 mr-rem-2"></app-button-primary>
    <app-button-primary (buttonPrimaryClick)="onCancelTrainer()" title="admin.button.reject" class="app-submit-button w-100"></app-button-primary>
  </div>

</section>
