<section class="w-100 p-rem-2 d-flex justify-content-center">

  <div class="app-content">

    <ng-container *ngIf="!success">

      <h4 class="app-desc">{{ 'submission.desc' | translate }}</h4>

      <form [formGroup]="form" markTouched class="my-rem-3">

        <app-input controlName="first_name" label="core.form.firstName.label" placeholder="core.form.firstName.placeholder" class="mb-rem-2"></app-input>
        <app-input controlName="last_name" label="core.form.lastName.label" placeholder="core.form.lastName.placeholder" class="mb-rem-2"></app-input>
        <app-input controlName="email" label="core.form.email.label" placeholder="core.form.email.placeholder" class="mb-rem-2"></app-input>
        <app-input controlName="address" label="core.form.address.label" placeholder="core.form.address.placeholder" class="mb-rem-2"></app-input>
        <app-input controlName="phone_number" label="core.form.phoneNumber.label" placeholder="core.form.phoneNumber.placeholder" class="mb-rem-2"></app-input>
        <app-input controlName="training_location" label="core.form.trainingLocation.label" placeholder="core.form.trainingLocation.placeholder" class="mb-rem-2"></app-input>
        <app-input controlName="number_of_clients" label="core.form.clientsQty.label" placeholder="core.form.clientsQty.placeholder" type="number" class="mb-rem-2"></app-input>
        <app-input controlName="market_of_interest" label="core.form.cityOfInterest.label" placeholder="core.form.cityOfInterest.placeholder" class="mb-rem-2"></app-input>
        <app-input controlName="specialization" label="core.form.sports.label" placeholder="core.form.sports.placeholder" class="mb-rem-2"></app-input>
        <app-input controlName="certified_trainer" label="core.form.isCertified.label" placeholder="core.form.isCertified.placeholder" class="mb-rem-2"></app-input>
        <app-input controlName="bio" label="core.form.personalBackground.label" placeholder="core.form.personalBackground.placeholder" type="textarea" class="mb-rem-2"></app-input>
        <app-select controlName="favorite_location" label="core.form.favoriteLocation.label" [options]="favLocationOptions"></app-select>

        <app-button-primary (buttonPrimaryClick)="onSubmitForm()" title="core.button.submit" class="app-submit-button" [loading]="spinnerService.isOn$ | async" [filled]="true" [disabled]="!form.valid"></app-button-primary>

      </form>

      <app-go-to text="submission.goto-login.text" linkUrl="/auth/login" linkText="submission.goto-login.link"></app-go-to>

    </ng-container>

    <h2 *ngIf="success" class="app-title">
      <p>{{ 'submission.success.line-1' | translate }}</p>
      <p>{{ 'submission.success.line-2' | translate }}</p>
    </h2>

  </div>

</section>
