<section class="w-100 d-flex flex-column align-items-center">

  <h2 class="app-title mb-rem-4">{{ 'admin.approved' | translate }}</h2>

  <div class="app-table">
    <div app-table-row class="w-100 app-row--even">
      <div app-table-data [data]="{ width: 50 }"><span class="deleted-list__heading-cell">John Smith</span></div>
      <div app-table-data [data]="{ width: 50 }"><span class="deleted-list__heading-cell">Approved</span></div>
    </div>
    <div app-table-row class="w-100">
      <div app-table-data [data]="{ width: 50 }"><span class="deleted-list__heading-cell">John Smith</span></div>
      <div app-table-data [data]="{ width: 50 }"><span class="deleted-list__heading-cell">Approved</span></div>
    </div>
    <div app-table-row class="w-100 app-row--even">
      <div app-table-data [data]="{ width: 50 }"><span class="deleted-list__heading-cell">John Smith</span></div>
      <div app-table-data [data]="{ width: 50 }"><span class="deleted-list__heading-cell">Approved</span></div>
    </div>
  </div>

</section>
