<section class="w-100 d-flex flex-column align-items-center">

  <h2 class="app-title mb-rem-4">{{ 'admin.approved' | translate }}</h2>

  <div class="app-table">
    <div routerLink="./trainer/{{ '1' }}" app-table-row class="app-row app-row--even cursor-pointer">
      <div app-table-data [data]="{ width: 50 }"><span class="px-rem-1">John Smith</span></div>
      <div app-table-data [data]="{ width: 50 }"><span class="px-rem-1">Approved</span></div>
    </div>
    <div routerLink="./trainer/{{ '2' }}" app-table-row class="app-row cursor-pointer">
      <div app-table-data [data]="{ width: 50 }"><span class="px-rem-1">John Smith</span></div>
      <div app-table-data [data]="{ width: 50 }"><span class="px-rem-1">Approved</span></div>
    </div>
    <div routerLink="./trainer/{{ '3' }}" app-table-row class="app-row app-row--even cursor-pointer">
      <div app-table-data [data]="{ width: 50 }"><span class="px-rem-1">John Smith</span></div>
      <div app-table-data [data]="{ width: 50 }"><span class="px-rem-1">Approved</span></div>
    </div>
  </div>

</section>
