<div class="user-aside">

  <figure class="user-avatar">
    <img [src]="userData.avatar" alt="User avatar" class="h-100">
  </figure>

  <div class="mt-3 mb-4 d-flex flex-column">
    <p class="user-aside__name">{{ userData.name }}</p>
    <p class="user-payout">
      <span>PAYOUT</span>
      <span class="user-payout__amount">${{ userData.payoutAmount }}</span>
    </p>
  </div>

  <ul class="user-aside__buttons">
    <li *ngFor="let item of buttons">
      <app-button-primary [routerLink]="item.link" [title]="item.uiName" [disabled]="false" size="sm" class="mb-2 w-100"></app-button-primary>
    </li>
  </ul>

</div>
