@import '_core-colors';
@import 'mixins/_all';

:host {
  @include page;
}

.user-page {
  display: flex;
  flex-grow: 1;
  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
  }
  &__delimeter {
    position: sticky;
    top: 0;
    height: calc(100vh - 40px);
    width: 2px;
    transform: translateY(20px);
    display: none;
    background-color: $main;
    @include md {
      display: flex;
    }
  }
}

.user-aside {
  position: sticky;
  top: 0;
  &__name {
    font-size: 22px;
    letter-spacing: 0.4px;
    margin-bottom: 2px;
    text-align: center;
    color: $white;
  }
}

.user-avatar {
  width: 150px;
  height: 150px;
  border: 1px solid grey;
  box-shadow: 0px 1px 7px 1px rgba(255,255,255,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 100%;
}

.user-payout {
  font-size: 12px;
  letter-spacing: 0.2px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-transform: uppercase;
  color: $main;
  &__amount {
    margin-left: 4px;
    font-size: 18px;
    color: $white;
  }
}

.outlet-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
