<section class="user-page">

  <ng-container *ngIf="(userData$ | async) as data">

    <div class="d-none d-md-flex flex-column">
      <ng-container *ngTemplateOutlet="aside; context: data"></ng-container>
    </div>

    <app-delimeter class="d-none d-md-flex"></app-delimeter>

    <div class="d-flex flex-column flex-grow-1">
      <app-header [hasMobileMenu]="true">
        <ng-container *ngTemplateOutlet="aside; context: data"></ng-container>
      </app-header>
      <div [@routeAnimations]="prepareRoute()" class="user-page__content">
        <router-outlet></router-outlet>
      </div>
    </div>

  </ng-container>

</section>

<app-footer></app-footer>

<ng-template #aside let-avatar="image_url" let-firstName="first_name" let-lastName="last_name" let-payoutAmount="payout_amount">
  <app-aside [buttons]="buttons" class="user-aside">

    <app-user-avatar [imageSrc]="avatar"></app-user-avatar>

    <div class="mt-3 mb-4 d-flex flex-column">
      <p class="user-aside__name">{{ firstName && lastName ? firstName + ' ' + lastName : ''}}</p>
      <p class="user-payout">
        <span>{{'user.payout' | translate}}</span>
        <span class="user-payout__amount">${{payoutAmount | number:'1.2-2'}}</span>
      </p>
    </div>

  </app-aside>
</ng-template>
