<section class="w-100 p-rem-2 d-flex flex-column align-items-center">

  <h2 class="app-title mb-rem-4 text-center">{{ ('admin.' + type) | translate }}</h2>

  <ng-container *ngIf="trainers; else spinner">
    <div *ngIf="trainers?.length" class="app-table">
      <div *ngFor="let item of trainers; let index = index;" routerLink="./trainer/{{ item.id }}" app-table-row [ngClass]="{'app-row--even': index%2}" class="app-row cursor-pointer">
        <div app-table-data [data]="{ width: 50 }"><span class="px-rem-1">{{ item.first_name }} {{ item.last_name }}</span></div>
        <div app-table-data [data]="{ width: 50 }"><span class="px-rem-1">{{ type | uppercase }}</span></div>
      </div>
    </div>
    <h2 *ngIf="!trainers?.length" class="app-title px-rem-1">
      <p class="text-center">{{ 'admin.no-trainers' | translate }}</p>
    </h2>
  </ng-container>

</section>

<ng-template #spinner>
  <app-spinner size="xl"></app-spinner>
</ng-template>
