@import '_core-colors';
@import 'mixins/bg-img';

.account-button {
  width: 150px;
  height: 40px;
  margin: 2rem 0 0;
  border: 2px solid $main;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $main;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    opacity: .8;
  }
  &__icon {
    width: 15px;
    height: 15px;
    margin-right: 4px;
    display: flex;
    &--avatar {
      @include bg-img('/assets/img/svg/avatar.svg');
    }
  }
}

.image-container {
  max-width: 170px;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__figure {
    width: 100%;
    overflow: hidden;
  }
}
