@import '_core-colors';
@import 'mixins/bg-img';

.upload {
  width: 300px;
  border-radius: 4px;
  transition: .3s;
  &--show-preview {
    padding: 20px 10px;
    background-color: rgba(238,118,34,.3);
  }
  &__image {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    border-radius: 4px;
  }
  &__icon {
    width: 15px;
    height: 15px;
    margin-right: 4px;
    display: flex;
    &--upload {
      @include bg-img('/assets/img/svg/upload.svg');
    }
    &--save {
      @include bg-img('/assets/img/svg/save.svg');
    }
  }
  &__button {
    width: 130px;
    height: 40px;
    border: 1px solid $white;
    border-radius: 4px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $white;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      opacity: .8;
    }
  }
}
