<div class="upload" [ngClass]="{'upload--show-preview': showPreview}">

  <figure>
    <img [src]="imgSrc" class="upload__image">
  </figure>

  <div class="d-flex justify-content-between">
    <label for="id-upload-image" class="upload__button">
      <i class="upload__icon upload__icon--upload"></i>
      <span>{{ 'core.button.open' | translate }}</span>
    </label>
    <button *ngIf="showPreview" (click)="onSave()" class="upload__button">
      <i class="upload__icon upload__icon--save"></i>
      <span>{{ 'core.button.save' | translate }}</span>
    </button>
  </div>

  <input (change)="onChange($event)" type="file" id="id-upload-image" accept="image/*" class="d-none">

</div>
