@import '_core-colors';
@import 'mixins/_all';

.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $black;
}

.app-content {
  width: 100%;
  max-width: 700px;
}

.app-submit-button {
  width: 100%;
  margin: 36px 0 0;
  @include sm {
    min-width: 250px;
    max-width: 350px;
  }
}

.app-desc {
  color: $white;
  font-size: 16px;
  line-height: 26px;
  white-space: pre-line;
}

.app-title {
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.app-table {
  width: 100%;
  max-width: 900px;
  border-radius: 4px;
  overflow: hidden;
  .app-row {
    width: 100%;
    transition: .3s;
    border: 0;
    &:hover {
      color: $white;
      background-color: $main;
    }
    &--even {
      background-color: $lightgrey;
    }
  }
}

.outlet-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
