$color-main: #ee7622;
$color-secondary: #fff;
$color-disabled: lightgrey;

:host {
  display: flex;
  justify-content: center;
}

.button-secondary {
  width: 100%;
  min-height: 48px;
  border: 2px solid $color-main;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
  transition: .3s;
  color: $color-main;
  background-color: transparent;
  position: relative;
  cursor: pointer;

  &__title {
    opacity: 1;
  }
  &__spinner {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  &.link {
    border: 0;
  }

  &.small {
    min-height: 32px;
    padding: 8px 20px;
    font-size: 14px;
  }

  &:disabled {
    color: $color-disabled;
    border-color: $color-disabled;
    background-color: $color-disabled;
    cursor: not-allowed;
  }
  
  &.filled {
    color: $color-secondary;
    background-color: $color-main;
  }

  &.loading {
    .button-secondary__spinner {
      opacity: 1;
    }
    .button-secondary__title {
      opacity: 0;
    }
  }

  &:hover:not([disabled]) {
    transform: translateY(-2px);
    box-shadow: 0px 2px 5px 0px grey;
  }
}
