:host {
  display: flex;
  justify-content: center;
  --color-main: #ee7622;
  --color-secondary: #fff;
  --color-disabled: lightgrey
}

.button-secondary {
  width: 100%;
  min-height: 48px;
  border: 2px solid var(--color-main);
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
  transition: .3s;
  color: var(--color-main);
  background-color: transparent;
  position: relative;
  cursor: pointer;

  // Inner elements
  &__title {
    opacity: 1;
  }
  &__spinner {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  // States
  &.link {
    border: 0;
  }
  &.small {
    min-height: 32px;
    padding: 8px 20px;
    font-size: 14px;
  }
  &.filled {
    color: var(--color-secondary);
    background-color: var(--color-main);
  }
  &.loading {
    .button-secondary__spinner {
      opacity: 1;
    }
    .button-secondary__title {
      opacity: 0;
    }
  }
  &:disabled {
    border-color: var(--color-disabled) !important;
    background-color: var(--color-disabled) !important;
    cursor: not-allowed;
  }
  &:hover:not([disabled]) {
    transform: translateY(-2px);
    box-shadow: 0px 2px 5px 0px grey;
  }
}
