$color-main: #ee7622;
$color-secondary: #fff;

:host {
  display: flex;
  justify-content: center;
}

.button-secondary {
  width: 100%;
  border: 2px solid $color-main;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
  transition: .3s;
  color: $color-main;
  background-color: transparent;
  cursor: pointer;
  &:disabled {
    color: lightgray;
    border-color: lightgray;
    cursor: not-allowed;
  }
  &:hover:not([disabled]) {
    transform: translateY(-2px);
    box-shadow: 0px 2px 5px 0px grey;
  }
  &.filled {
    color: $color-secondary;
    background-color: $color-main;
    &:disabled {
      background-color: lightgray;
      border-color: lightgray;
    }
  }
  &.fullWidth {
    width: 100%;
  }
  &.link {
    border: 0;
  }
}
