<button
  (click)="onClick()"
  [routerLink]="routerLink"
  [routerLinkActive]="routerLink ? 'filled' : ''"
  [disabled]="disabled"
  class="button-secondary"
  [ngClass]="{
    'filled': filled && !routerLink,
    'noBorder': noBorder,
    'loading': loading,
    'small': size === 'sm'
  }">
    <app-spinner *ngIf="loading" class="button-secondary__spinner"></app-spinner>
    <p *ngIf="!loading" class="d-flex justify-content-center">
      <span class="mr-1">
        <ng-content></ng-content>
      </span>
      <span class="button-secondary__title">{{title | translate}}</span>
    </p>
</button>
