<section class="w-100 p-rem-2 d-flex flex-column align-items-center">

  <h2 class="app-title mb-rem-3">{{'payments.title' | translate}}</h2>

  <ng-container *ngIf="!isLoading; else spinner">

    <div *ngIf="!isPayoutsSetup" class="app-content">
      <ng-container *ngIf="!isRedirected">
        <h4 class="app-desc">{{'payments.desc' | translate}}</h4>
        <div class="d-flex justify-content-center">
          <app-button-primary (buttonPrimaryClick)="onSetupPayouts()" title="payments.button.setup" [loading]="spinnerService.isOn$ | async" [filled]="true" class="app-submit-button"></app-button-primary>
        </div>
      </ng-container>
      <ng-container *ngIf="isRedirected">
        <h2 class="app-title">
          <p class="text-center">{{'payments.redirected.line-1' | translate}}</p>
        </h2>
        <p class="mt-rem-1 text-center color-white">{{'payments.redirected.line-2' | translate}}</p>
      </ng-container>
    </div>

    <div *ngIf="isPayoutsSetup" class="w-100 d-flex flex-column align-items-center">
      <div class="app-table">
        <div *ngFor="let item of (payouts$ | async); let index = index;" app-table-row [ngClass]="{'app-row--even': index%2}" class="app-row app-row--even">
          <div app-table-data [data]="{ width: 50 }"><span class="px-rem-1">{{item.date}}</span></div>
          <div app-table-data [data]="{ width: 50 }"><span class="px-rem-1">${{(item.amount / 100) | number:'1.2-2'}}</span></div>
        </div>
      </div>
      <div class="w-100 d-flex justify-content-center">
        <app-button-primary (buttonPrimaryClick)="onSetupPayouts()" title="payments.button.change-setup" class="app-submit-button" [loading]="spinnerService.isOn$ | async" [filled]="true"></app-button-primary>
      </div>
    </div>

  </ng-container>

</section>

<ng-template #spinner>
  <app-spinner size="xl"></app-spinner>
</ng-template>

