@import '_core-colors';
@import 'mixins/_all';

:host {
  @include page;
}

.admin {
  display: flex;
  flex-grow: 1;
  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    margin: 0 2rem;
    @include md {
      margin: 4rem 2rem 2rem;
    }
  }
}
