@import '_core-colors';
@import 'mixins/elements';

:host {
  @include page;
}

.admin {
  display: flex;
  flex-grow: 1;
  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
  }
  &__aside {
    position: sticky;
    top: 0;
  }
}
