<section class="admin">

  <div class="d-none d-md-flex">
    <ng-container [ngTemplateOutlet]="aside"></ng-container>
  </div>

  <app-delimeter class="d-none d-md-flex"></app-delimeter>

  <div class="admin__content">
    <app-header [hasMobileMenu]="true" class="d-flex d-md-none">
      <ng-container [ngTemplateOutlet]="aside"></ng-container>
    </app-header>
    <div class="admin__page-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>

</section>

<app-footer></app-footer>

<ng-template #aside>
  <app-aside [buttons]="buttons">
    <app-logo class="d-none d-md-flex mb-rem-4" size="lg"></app-logo>
  </app-aside>
</ng-template>
