<section class="w-100 p-rem-2 d-flex justify-content-center">

  <div class="app-content">

    <h2 class="app-title">
      <span>{{ 'first-login.title.line-1' | translate }}</span>
      <span>{{ 'first-login.title.line-2' | translate }}</span>
    </h2>

    <h3 class="mt-rem-2 color-white d-flex flex-column align-items-center">{{ 'first-login.subtitle' | translate }}</h3>

    <form [formGroup]="form" markTouched class="my-rem-3">

      <app-input controlName="email_address" label="first-login.email.label" placeholder="first-login.email.placeholder" class="mb-rem-2" type="email"></app-input>
      <app-input controlName="password" label="first-login.password.label" placeholder="first-login.password.placeholder" class="mb-rem-2" type="password"></app-input>
      <app-input controlName="confirm_password" label="first-login.confirmPassword.label" placeholder="first-login.confirmPassword.placeholder" class="mb-rem-2" type="password"></app-input>

    </form>

    <app-button-primary (buttonPrimaryClick)="onSubmitForm()" title="core.button.submit" class="app-submit-button" [filled]="true" [disabled]="!form.valid" [loading]="spinnerService.isOn$ | async"></app-button-primary>

  </div>

</section>
