<section class="w-100 p-rem-2 d-flex justify-content-center">

  <div class="app-content">

    <h2 class="color-white d-flex flex-column align-items-center">{{ 'forgot-password.title' | translate }}</h2>

    <form [formGroup]="form" markTouched class="my-rem-3">
      <app-input controlName="email" label="forgot-password.email.label" placeholder="forgot-password.email.placeholder" class="mb-rem-2" type="email"></app-input>
    </form>

    <app-button-primary (buttonPrimaryClick)="onSubmitForm()" title="core.button.submit" class="app-submit-button" [disabled]="!form.valid"></app-button-primary>

    <app-go-to text="forgot-password.goto-login.text" linkUrl="/auth/logi" linkText="forgot-password.goto-login.link"></app-go-to>

  </div>

</section>
