<section class="w-100 p-rem-2 d-flex justify-content-center">

  <div class="app-content">

    <ng-container *ngIf="!success">

      <h2 class="app-title">{{ 'forgot-password.title' | translate }}</h2>

      <form [formGroup]="form" markTouched class="my-rem-3">
        <app-input controlName="email_address" label="core.form.email.label" placeholder="core.form.email.placeholder" class="mb-rem-2" type="email"></app-input>
      </form>

      <app-button-primary (buttonPrimaryClick)="onSubmitForm()" title="core.button.submit" class="app-submit-button" [loading]="spinnerService.isOn$ | async" [filled]="true" [disabled]="!form.valid"></app-button-primary>

      <app-go-to text="forgot-password.goto-login.text" linkUrl="/auth/login" linkText="forgot-password.goto-login.link"></app-go-to>

    </ng-container>

    <h2 *ngIf="success" class="app-title">
      <p>{{ 'forgot-password.success.line-1' | translate }}</p>
    </h2>

  </div>

</section>
