<section class="forgot-password">

  <div class="forgot-password__content">

    <h2 class="forgot-password__title">{{ 'forgot-password.title' | translate }}</h2>

    <form [formGroup]="form" markTouched class="forgot-password__form">

      <app-input controlName="email" label="forgot-password.email.label" placeholder="forgot-password.email.placeholder" class="forgot-password__input" type="email"></app-input>

    </form>

    <app-button-primary (buttonPrimaryClick)="onSubmitForm()" title="core.button.submit" class="forgot-password__button" [disabled]="!form.valid"></app-button-primary>

    <div class="goTo">
      <p class="goTo__text">{{ 'forgot-password.goto-login.text' | translate }}</p>
      <a routerLink="/auth/login" class="goTo__link">{{ 'forgot-password.goto-login.link' | translate }}</a>
    </div>

  </div>

</section>
