@import '_core-colors';

:host {
  display: flex;
  flex-grow: 1;
}

.forgot-password {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  &__content {
    width: 100%;
    max-width: 660px;
  }
  &__title {
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__form {
    margin: 50px 0;
  }
  &__input {
    margin-bottom: 35px;
  }
  &__button {
    max-width: 300px;
    margin: 50px 0 0;
  }
}

.goTo {
  margin-top: 40px;
  display: flex;
  &__text {
    color: $white;
  }
  &__link {
    padding-left: 6px;
    font-weight: 600;
    color: $main;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      opacity: .8;
    }
  }
}
