$border-color: #ffffff;
$text-color: #ffffff;
$warn-color: #ff6363;
$border-radius: 4px;

:host {
  display: flex;
  margin: 15px 0;
}

.input {
  width: 100%;
  position: relative;
  text-align: left;

  &--invalid {
    .input__field, .input__text-area { border-color: $warn-color !important; }
    .input__label { color: $warn-color !important; }
    .input__error { opacity: 1; }
  }

  &__field, &__text-area {
    width: 100%;
    padding: 18px 45px 18px 12px;
    font-size: 16px;
    border: 1px solid;
    border-color: $border-color;
    border-radius: $border-radius;
    font-family: inherit;
    display: block;
    color: $text-color;
    background-color: transparent;
    transition: border-color .2s;
    outline: 0;
    &:required,
    &:invalid {
      box-shadow: none;
    }
    &::placeholder {
      color: transparent;
      transition: .3s;
    }
    &:focus, &--has-value {
      border-width: 1px;
      border-color: $border-color;
      ~ label {
        transform: translateY(-15px);
        color: $border-color;
        font-size: 12px;
      }
      &::placeholder {
        color: $text-color;
      }
    }
  }

  &__text-area {
    resize: vertical;
  }

  &__label {
    position: absolute; left: 12px; top: 0;
    transform: translateY(19px);
    font-size: 16px;
    display: block;
    transition: .3s;
    color: $text-color;
  }

  &__asterisk {
    padding-left: 3px;
    color: $warn-color;
  }

  &__error {
    width: 100%;
    position: absolute; bottom: -15px;
    opacity: 0;
  }
  
}
