@import '_core-colors';

.not-found-page {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  &__figure {
    width: 60%;
  }
  &__figCaption {
    text-align: center;
    color: $white;
  }
}
