@import '_core-colors';
@import 'mixins/elements';

:host {
  @include container;
}

.not-found-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  &__header {
    width: 100%;
    position: sticky; top: 0;
    display: flex;
    background-color: rgba(0,0,0,.8);
    z-index: 1;
  }
  &__figure {
    width: 90%;
    max-width: 800px;
  }
  &__figCaption {
    text-align: center;
    color: $white;
  }
}
