@import '_core-colors';
@import 'mixins/elements';

:host {
  @include page;
}

.not-found-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  &__figure {
    width: 90%;
    max-width: 800px;
  }
  &__figCaption {
    text-align: center;
    color: $white;
  }
}
