<section class="w-100 p-rem-2 d-flex justify-content-center">

  <div class="app-content">

    <h2 class="color-white d-flex flex-column align-items-center">{{ 'reset-password.title' | translate }}</h2>

    <form [formGroup]="form" markTouched class="my-rem-3">
      <app-input controlName="password" label="first-login.password.label" placeholder="first-login.password.placeholder" class="mb-rem-2" type="password"></app-input>
      <app-input controlName="confirmPassword" label="first-login.confirmPassword.label" placeholder="first-login.confirmPassword.placeholder" class="mb-rem-2" type="password"></app-input>
    </form>

    <app-button-primary (buttonPrimaryClick)="onSubmitForm()" title="core.button.submit" class="app-submit-button" [disabled]="!form.valid"></app-button-primary>

  </div>

</section>
