<section class="w-100 p-rem-2 d-flex justify-content-center">

  <div class="app-content">

    <h2 class="app-title">{{ 'reset-password.title' | translate }}</h2>

    <form [formGroup]="form" (keyup.enter)="onSubmitForm()" markTouched class="my-rem-3">
      <app-input controlName="password" label="core.form.password.label" placeholder="core.form.password.placeholder" class="mb-rem-2" type="password"></app-input>
      <app-input controlName="confirmPassword" label="core.form.confirmPassword.label" placeholder="core.form.confirmPassword.placeholder" class="mb-rem-2" type="password"></app-input>
    </form>

    <app-button-primary (buttonPrimaryClick)="onSubmitForm()" title="core.button.submit" class="app-submit-button" [filled]="true" [disabled]="!form.valid"></app-button-primary>

  </div>

</section>
