<section class="reset-password">

  <div class="reset-password__content">

    <h2 class="reset-password__title">{{ 'reset-password.title' | translate }}</h2>

    <form [formGroup]="form" markTouched class="reset-password__form">

      <app-input controlName="password" label="first-login.password.label" placeholder="first-login.password.placeholder" class="first-login__input" type="password"></app-input>
      <app-input controlName="confirmPassword" label="first-login.confirmPassword.label" placeholder="first-login.confirmPassword.placeholder" class="first-login__input" type="password"></app-input>

    </form>

    <app-button-primary (buttonPrimaryClick)="onSubmitForm()" title="core.button.submit" class="reset-password__button" [disabled]="!form.valid"></app-button-primary>

  </div>

</section>
